series:类似一维数组

In [1]:
import numpy as np
import pandas as pd

In [2]:
a = np.array([60, 89, 98])
a

array([60, 89, 98])

In [3]:
b = pd.Series(a, index=["xiaoming", "xiaohong", "xiaohua"])#数组创建
b

xiaoming    60
xiaohong    89
xiaohua     98
dtype: int64

In [4]:
pd.Series({"xioaming":60, "xiaohong":89})#字典创建

xioaming    60
xiaohong    89
dtype: int64

In [5]:
pd.Series([60, 89, 98])#列表创建

0    60
1    89
2    98
dtype: int64

In [7]:
b.index

Index(['xiaoming', 'xiaohong', 'xiaohua'], dtype='object')

In [8]:
b.values

array([60, 89, 98])

DataFrame : 二维表

In [11]:
s = pd.DataFrame([[60, 70, 80], [89, 78, 67]])
s

    0   1   2
0  60  70  80
1  89  78  67

In [12]:
s.index#行索引的位置索引

RangeIndex(start=0, stop=2, step=1)

In [13]:
s.index = ["xiaohong", "xiaoming"]#行索引的标签索引
s

           0   1   2
xiaohong  60  70  80
xiaoming  89  78  67

In [14]:
s.columns = ["chinese", "math", "english"]#列索引的标签索引
s

          chinese  math  english
xiaohong       60    70       80
xiaoming       89    78       67

In [16]:
s = pd.DataFrame([[60, 70, 80], [89, 78, 67]], index=["xiaohong", "xiaoming"], columns=["chinese", "math", "english"])
s

          chinese  math  english
xiaohong       60    70       80
xiaoming       89    78       67

In [17]:
pd.DataFrame({"chinese":[68, 89], "math":[70,78], "english":[80, 67]}, index = ["xiaohong", "xiaoming"])

          chinese  math  english
xiaohong       68    70       80
xiaoming       89    78       67

In [21]:
pd.DataFrame.from_dict?