# 函数

## 匿名函数

可以用lambda关键字定义。通过lambda构造的函数可以没有名称，最大特点是一气呵成。
即在自定义匿名函数，所有代码可以在一行内完成  
lambda parameters:function_expression  
lambda 
parameters 函数形参，多个参数之间用逗号隔开
function_expression 具体函数体

In [3]:
# 统计列表中每个元素的频次
list6 = ['A','A','B','A','A','B','C','B','C','B','B','D','C']
# 构建空字典，用于频次统计数据的存储
dict3 = {}

for i in list6:
    dict3[i] = list6.count(i)
print(dict3)

{'A': 4, 'B': 5, 'C': 3, 'D': 1}

In [5]:
dict3.items()

dict_items([('A', 4), ('B', 5), ('C', 3), ('D', 1)])

In [6]:
list7 = dict3.items()

In [7]:
list7 = list(list7)

In [8]:
list7.sort()

In [9]:
list7

[('A', 4), ('B', 5), ('C', 3), ('D', 1)]

In [12]:
list7.sort(key = lambda x : x[1], reverse=True)

In [13]:
list7

[('B', 5), ('A', 4), ('C', 3), ('D', 1)]

## 自定义函数
定制化需求  
为了降低代码的重复编码

In [15]:
import random

In [16]:
number = random.randint(10, 30)

while True:
    guess = int(input('请输入一个整数：'))
    if guess > number:
        print("偏大！")
    elif guess < number:
        print("偏小")
    else:
        print('正确')
        break

请输入一个整数：20
偏大！
请输入一个整数：15
偏小
请输入一个整数：17
偏小
请输入一个整数：18
偏小
请输入一个整数：19
正确

In [17]:
import random
def Guess_number(min, max):
    number = random.randint(min, max)

    while True:
        guess = int(input('请输入一个整数：'))
        if guess > number:
            print("偏大！")
        elif guess < number:
            print("偏小")
        else:
            print('正确')
            break

In [19]:
Guess_number(10,20)

请输入一个整数：15
偏大！
请输入一个整数：12
偏大！
请输入一个整数：11
偏大！
请输入一个整数：10
正确

In [21]:
import random
def Guess_number(min, max):
    number = random.randint(min, max)

    while True:
        guess = int(input(f'请在{min}和{max}之间输入一个整数：'))
        if guess > number:
            max = guess
            print("偏大！")
        elif guess < number:
            print("偏小")
            min = guess
        else:
            print('正确')
            break

In [22]:
Guess_number(5, 10)

请在5和10之间输入一个整数：8
偏大！
请在5和8之间输入一个整数：6
偏大！
请在5和6之间输入一个整数：5
正确

## 例子

In [23]:
def circle(R):
    zc = 2*3.14*R
    mj = 3.14*R**2
    tj = 4/3*3.14*R**3
    return zc, mj, tj

In [24]:
circle(10)

(62.800000000000004, 314.0, 4186.666666666667)

In [26]:
import pandas as pd
res = []
for i in range(1, 4):
    data = pd.read_csv(f"data{i}.txt")
    res.append(data)
pd.concat(res)

   id name  income
0   1    a   15000
1   2    b   20000
0   3    c   17000
1   4    d   25000
0   5    e   18000
1   6    f   30000

In [28]:
!ls

PPT				function_new.ipynb
class-one-introduce.ipynb	main.py
class-two-data_structure.ipynb	python_regular-expression.ipynb
data_test

In [29]:
import os
os.listdir(r"./data_test")

['data1.txt', 'data2.txt', 'data3.txt']

In [31]:
path = r"./data_test"
filenames = os.listdir(path)

res = []
for file in filenames:
    data = pd.read_csv(path + "/" + file)
    res.append(data)

pd.concat(res)

   id name  income
0   1    a   15000
1   2    b   20000
0   3    c   17000
1   4    d   25000
0   5    e   18000
1   6    f   30000