In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([90, 89, 88, 87, 86], index=["zhang", "wang", "li", "zhao", "sun"])
s

zhang    90
wang     89
li       88
zhao     87
sun      86
dtype: int64

In [3]:
s["zhang"]

90

In [4]:
"zhang" in s

True

In [6]:
s.keys()

Index(['zhang', 'wang', 'li', 'zhao', 'sun'], dtype='object')

In [7]:
s.items()

In [9]:
list(s.items())

[('zhang', 90), ('wang', 89), ('li', 88), ('zhao', 87), ('sun', 86)]

In [10]:
s["zhang"]

90

In [11]:
s.zhang

90

In [12]:
s[["zhang", "wang"]]

zhang    90
wang     89
dtype: int64

In [14]:
s[s>88]

zhang    90
wang     89
dtype: int64

In [15]:
s2 = s["zhang": "zhao"]#b标签索引，包含索引最后值

In [16]:
s

zhang    90
wang     89
li       88
zhao     87
sun      86
dtype: int64

In [17]:
s2

zhang    90
wang     89
li       88
zhao     87
dtype: int64

In [18]:
s[0: 3]#位置索引，不包含索引最后值

zhang    90
wang     89
li       88
dtype: int64

In [19]:
ts = pd.Series(np.random.randn(4), index=(1, 3, 5, 7))
ts

1    0.752270
3    0.091552
5   -0.858900
7   -0.262658
dtype: float64

In [20]:
ts[1]#默认使用标签索引

0.7522698238728053

In [21]:
ts[1: 3]#默认使用位置索引

3    0.091552
5   -0.858900
dtype: float64

In [22]:
ts.iloc[1]#明确使用位置索引

0.09155206476055731

In [24]:
ts.iloc[1: 3]#明确使用位置索引

3    0.091552
5   -0.858900
dtype: float64

In [25]:
ts.loc[1]#明确使用标签索引

0.7522698238728053

In [26]:
ts.loc[1: 3]#明确使用标签索引

1    0.752270
3    0.091552
dtype: float64

In [27]:
df = pd.DataFrame({'chinese':[90, 89, 87, 86, 85], 'math':[34, 35, 36, 37, 38]}, index=['zhang', 'wang', 'li', 'zhao', 'sun'])
df

       chinese  math
zhang       90    34
wang        89    35
li          87    36
zhao        86    37
sun         85    38

In [28]:
s = df['zhang']

KeyError: 'zhang'

In [30]:
s = df['chinese']
s

zhang    90
wang     89
li       87
zhao     86
sun      85
Name: chinese, dtype: int64

In [31]:
type(s)

pandas.core.series.Series

In [32]:
df['math']

zhang    34
wang     35
li       36
zhao     37
sun      38
Name: math, dtype: int64

In [33]:
df.loc['zhang']

chinese    90
math       34
Name: zhang, dtype: int64

In [34]:
df.loc[df>88]

ValueError: Cannot index with multidimensional key

In [35]:
df.loc[df['chinese']>88]

       chinese  math
zhang       90    34
wang        89    35

In [36]:
df.values

array([[90, 34],
       [89, 35],
       [87, 36],
       [86, 37],
       [85, 38]])

In [37]:
df

       chinese  math
zhang       90    34
wang        89    35
li          87    36
zhao        86    37
sun         85    38

In [38]:
df.loc['zhang': 'li']

       chinese  math
zhang       90    34
wang        89    35
li          87    36

In [39]:
df['english'] = [56, 57, 58, 59, 60]
df

       chinese  math  english
zhang       90    34       56
wang        89    35       57
li          87    36       58
zhao        86    37       59
sun         85    38       60

In [41]:
df.loc[:,'chinese': 'math']

       chinese  math
zhang       90    34
wang        89    35
li          87    36
zhao        86    37
sun         85    38

In [42]:
df.loc['zhang', ['chinese', 'english']]

chinese    90
english    56
Name: zhang, dtype: int64