csv 文件和 excell 文件

In [1]:
import pandas as pd

In [2]:
pd.read_csv?

In [3]:
ls

pandas_1_object.ipynb*  pandas_2_index.ipynb*  pandas_3_data-from-file.ipynb*

In [4]:
!touch gdp-pop.csv

In [10]:
!echo -e "City_Name,GDP,Population\nSHANGHAI,27466.15,2419.70\nBEIJING,24899.3,2172.9\nGUANGZHOU,19610.9,1350.11\nSHENZHEN,19492.60,1137.87\nTIANJIN,17885.39,1562.12\nCHONGQING,17558.39,3016.55\nSUZHOU,15475.09,1375\nCHENDU,12170.2,1591.76" > gdp-pop.csv

In [11]:
!cat ./gdp-pop.csv

City_Name,GDP,Population
SHANGHAI,27466.15,2419.70
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,19492.60,1137.87
TIANJIN,17885.39,1562.12
CHONGQING,17558.39,3016.55
SUZHOU,15475.09,1375
CHENDU,12170.2,1591.76

In [12]:
gdp = pd.read_csv("./gdp-pop.csv")
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60     1137.87
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.39     3016.55
6     SUZHOU  15475.09     1375.00
7     CHENDU  12170.20     1591.76

In [14]:
gdp = pd.read_csv("gdp-pop.csv", names = ['CITY', 'GDP', 'POP'])
gdp

        CITY       GDP         POP
0  City_Name       GDP  Population
1   SHANGHAI  27466.15     2419.70
2    BEIJING   24899.3      2172.9
3  GUANGZHOU   19610.9     1350.11
4   SHENZHEN  19492.60     1137.87
5    TIANJIN  17885.39     1562.12
6  CHONGQING  17558.39     3016.55
7     SUZHOU  15475.09        1375
8     CHENDU   12170.2     1591.76

In [15]:
gdp = pd.read_csv("gdp-pop.csv", names = ['CITY', 'GDP', 'POP'], skiprows=[0])
gdp

        CITY       GDP      POP
0   SHANGHAI  27466.15  2419.70
1    BEIJING  24899.30  2172.90
2  GUANGZHOU  19610.90  1350.11
3   SHENZHEN  19492.60  1137.87
4    TIANJIN  17885.39  1562.12
5  CHONGQING  17558.39  3016.55
6     SUZHOU  15475.09  1375.00
7     CHENDU  12170.20  1591.76

In [16]:
gdp = pd.read_csv("gdp-pop.csv", names = ['CITY', 'GDP', 'POP'], skiprows=[0], index_col=0)
gdp

                GDP      POP
CITY
SHANGHAI   27466.15  2419.70
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN   19492.60  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.39  3016.55
SUZHOU     15475.09  1375.00
CHENDU     12170.20  1591.76

In [17]:
!touch gdp-pop_o.csv

In [18]:
!echo -e "City_Name,GDP,Population\nSHANGHAI,27466.15,2419.70\nBEIJING,24899.3,2172.9\nGUANGZHOU,19610.9,1350.11\nSHENZHEN,19492.60,\nTIANJIN,17885.39,1562.12\nCHONGQING,17558.39,3016.55\nSUZHOU,15475.09,1375\nCHENDU,,1591.76" > gdp-pop_o.csv

In [19]:
!cat gdp-pop_o.csv

City_Name,GDP,Population
SHANGHAI,27466.15,2419.70
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,19492.60,
TIANJIN,17885.39,1562.12
CHONGQING,17558.39,3016.55
SUZHOU,15475.09,1375
CHENDU,,1591.76

In [20]:
gdp = pd.read_csv("gdp-pop_o.csv")
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60         NaN
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.39     3016.55
6     SUZHOU  15475.09     1375.00
7     CHENDU       NaN     1591.76

In [ ]:
pd.read_excel("./excel_file_name.xlsx")